.list .game-name {
    display: flex;
    justify-content: center;
    color: #fefefe;
    font-size: 3rem;
  }
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    margin:5% 0;
  }
  .cards div{
    background-color: aqua;
    width:210px;
    height:210px;
    border-radius: 6px;
  }
